.CategoryModal{
   
}

.ant-list-item-content-single {
    justify-content: center;
}


@media screen and (max-width: 650px) {
    .category-modal {
        max-width: 100%!important;
        width: 100%!important;
    }
}