.Categories {


    .add-category-button {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 5%;
        margin-right: 5%;
    }

    .categories-container {
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 0 auto;

        .left-column {
            width: 40%;
        }

        .right-column {
            width: 40%;
        }
    }


}

@media screen and (max-width: 650px) {
    .Categories {
        .categories-container {
            margin: 55px auto;
        }

        .add-category-button {
            position: absolute !important;
            bottom: unset !important;
            top: 0;
            margin-right: 0 !important;
            margin-bottom: 0 !important;
            margin-top: 55px;
            width: 100%;
        }
    }

}