.Categories {

    .categories-container {
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 0 auto;
        
        .left-column{
            width: 40%;
        }

        .right-column{
            width: 40%;
        }
    }

    
}