.OperationsModal{
  position: absolute;
  margin-bottom: 3%;
  margin-right: 5%;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.operations-modal{
  width: 15%!important;
  position: absolute;
  transform-origin: 763.2px 528px 0px;
  bottom: 0;
  right: 0;
  margin-right: 1%;
  margin-bottom: 1%;
  top: unset;
}

.modal-option{
  width: 100%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.modal-option:hover{
  color: white;
  background-color: #1890ff;
  border-radius: 5px;
}
