.charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // margin: 50px auto;
    // width: 100%;
    // grid-template-columns: 50% 50%;
    // grid-template-rows: 33% 33% 33%;
    // display: grid;

}

@media screen and (max-width: 650px) {
    .charts {
        display: block;
    }
}
