.Main {

  .layout {
    min-height: 100vh !important;
  }

  .content {
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.mobile {}

.sidebar-button {
  position: absolute;
  top: 0;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  color: #1890ff;
}

.hide {
  position: absolute;
  height: 100%;
  z-index: 1;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mobile {
  position: absolute;
  height: 100%;
  z-index: 1;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
}