.Balance{

  p{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: black;
    font-style: italic;
  }

  .balance-container{
    margin-top:  5%;
  }

  .operations-button{
    position: fixed;
    bottom: 0;
    margin-bottom: 5%;
    right: 0;
    margin-right: 5%;
  }
}