.Goals{

    .add-goal-button{
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 650px) {
    .Goals {
        .add-goal-button {
            position: absolute!important;
            bottom: unset !important;
            top: 0;
            margin-bottom: 0 !important;
            margin-right: 0 !important;
            width: 100%;
            margin-top: 60px;
        }
    }
}